body {
  font-family: "Barlow Semi Condensed", cursive;
  height: 100%;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat;
}

@media screen and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
}
